body{
  background-color: hsl(0, 0%, 98%);
}

h4{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: hsl(234, 12%, 34%);
  padding-left: 20px;
}

p{
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  color: hsl(229, 6%, 66%);
  padding-left: 20px;
  margin-top: 0;
  font-size: 15px;
}

img{
  width: 60px;
  align-self: flex-end;
  padding: 0 20px 20px 0;

}

.top-container{
  display: block;
  text-align: center;
  margin-bottom: 2rem;
}

.heading{
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  margin: 4rem 0 0 0;
  color: hsl(234, 12%, 34%);

}

.headings{
  display:inline-block;
  max-width: 500px;
}

.sub-heading{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: hsl(234, 12%, 34%);
  margin: 0 0 1rem 0;
}

.middle-container{
  display: flex;
  justify-content: center;

}
.card-container{
  width:1100px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;

}

.team-builder{
  border-top: solid;
  border-top-color: hsl(0, 78%, 62%);
  width: 300px;
  height:208px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 8px 30px -20px hsl(229, 6%, 66%);
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.calculator{
  border-top: solid;
  border-top-color: hsl(212, 86%, 64%);
  width: 300px;
  height:208px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 8px 30px -20px hsl(229, 6%, 66%);
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.supervisor{
  border-top: solid;
  border-top-color: hsl(180, 62%, 55%);
  width: 300px;
  height:208px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 8px 30px -20px hsl(229, 6%, 66%);
  display: flex;
  flex-direction: column;
  margin: 20px;

}

.karma{
  border-top: solid;
  border-top-color: hsl(34, 97%, 64%);
  width: 300px;
  height:208px;
  border-radius: 5px;
  box-shadow: 0 8px 30px -20px hsl(229, 6%, 66%);
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 20px;

}

.first{
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.middle{
  width:375px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.last{
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
